html, body {
    margin: 0; 
    padding: 0;
   
  }

header {
    width: 100%;
    height: 150px;
    background: rgba(219, 77, 77, 0.99);
    -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
    -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.49);
     box-shadow:        0px 3px 5px rgba(100, 100, 100, 0.49);
  }

td {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
    padding: 25px;
    text-align:center;
    width: 500px;
  }

a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:white; }
a:focus { text-decoration: none; color:white; }
a:hover, a:active { text-decoration: none; color:#C9C9C9}

h1 {
    
    font-family:'Trebuchet MS', sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-size: 48px
  }

h2 {
    font-family:'Trebuchet MS', sans-serif;
    font-size: 32px;
    text-align: center;
    color: rgba(219, 77, 77, 0.99);
  }


input {
    border: 0;
    background: rgba(219, 77, 77, 0.99);
    border-radius: 4px;
    box-shadow: 0 5px 0 rgba(136, 26, 26, 0.99);
    color: #fff;
    cursor: pointer;
    font-family:'Trebuchet MS', sans-serif;
    font-size: 24px;
    margin: 0;
    outline: 0;
    width: 260px;
    height: 70px;
    transition: all .1s linear;
  }

 input:active {
    box-shadow: 0 2px 0 #460E0E;
    transform: translateY(3px);
  }
  
  