html, body {
    margin: 0; 
    padding: 0;
  }

header {
    width: 100%;
    height: 150px;
    background: rgba(219, 77, 77, 0.99);
    -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
    -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.49);
     box-shadow:        0px 3px 5px rgba(100, 100, 100, 0.49);
  }

h1 {
    font-family:'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;
    font-size: 48px;
  }


h2 {
    font-family:'Trebuchet MS', sans-serif;
    font-size: 32px;
    color: rgba(219, 77, 77, 0.99);
    text-align: center;
  }

p {
    font-family:'Trebuchet MS', sans-serif;
    font-size: 26px;
    text-align: center;  
    
  }
  
  a:visited { text-decoration: none; color:white; }
  a:hover { text-decoration: none; color:white; }
  a:focus { text-decoration: none; color:white; }
  a:hover, a:active { text-decoration: none; color:#C9C9C9}